body {
background: powderblue;
}

.randomizer {
  background-color: antiquewhite;
  color: black;
  font-size: 16px;
  font-weight: bold;
  font-family: "Big Caslon";
  text-align: center;
  border: burlywood 5px solid;
  margin: 150px auto;
  width: 450px;
  height: 450px;
  flex-direction: column;
  align-items: center;
  display: flex;
  vertical-align: middle;


  &__input {
    cursor: pointer;
    width: 200px;
    height: 30px;

    &:focus{
    color: crimson;
      outline-style: solid;
      outline-color: powderblue;
  }

    &:nth-of-type(2n) {
      background: darksalmon;
      list-style: none;
      opacity: 0.7;
    }
  }

}

  .btn{
    padding: 20px 50px;
    cursor: pointer;
    opacity: 0.7;


&-one{
  background: powderblue;
  &:hover{
    box-shadow: 5px 5px 2px 1px crimson;
  }

}

    &-two{
      background: crimson;
      &:hover{
        box-shadow: 5px 5px 2px 1px powderblue;
      }
    }
    }



